@model JogadorViewModel

<h1>Cadastrar Jogador</h1>

<div>
    <form asp-controller="Jogador" asp-action="Salvar" method="post" class="mb-4">
        <div class="form-group mb-2">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do jogador" required>
        </div>
        <div class="form-group mb-2">
            <label for="nota">Nota:</label>
            <input type="text" class="form-control" id="nota" name="nota" placeholder="Digite a nota do jogador" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<div>
    <table class="table table-striped table-hover table-bordered w-100">
        <thead>
            <tr>
                <th class="col-3">Ativo</th>
                <th class="col-3">Nome</th>
                <th class="col-3">Nota</th>
                <th class="col-3 text-center">Deletar</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var jogador in Model.Jogadores)
            {
                <tr class="col-12">
                    <td class="col-1">
                        <input type="checkbox" name="ativo" class="ativo-checkbox" data-id="@jogador.Id" @(jogador.Ativo ? "checked" : "")>
                    </td>
                    <td class="col-4">@jogador.Nome</td>
                    <td class="col-4">@jogador.Nota</td>
                    <td class="col-3 text-center">
                        <a asp-controller="Jogador" asp-action="Deletar" asp-route-id="@jogador.Id" class="btn btn-danger" onclick="return confirm('Deseja realmente deletar este jogador?');">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $('.ativo-checkbox').change(function () {
            var jogadorId = $(this).data('id');
            var ativo = $(this).is(':checked');
            $.ajax({
                url: '@Url.Action("AlterarStatusAtivo", "Jogador")',
                data: { id: jogadorId, ativo: ativo },
                type: 'POST'
            });
        });
    });
</script>

